In [5]:
import pandas as pd
import os
import glob

In [6]:
files_path = '../data/EBS_all/'

In [ ]:
def delete_first_row(df_sheet):
    df_sheet = df_sheet.iloc[1:].reset_index(drop=True)
    return df_sheet

def delete_two_rows(df_sheet):
    df_sheet = df = df_sheet.iloc[2:].reset_index(drop=True))
    return df_sheet

def delete_last_two_rows(df_sheet):
    df_sheet = df_sheet.iloc[:-2].reset_index(drop=True)


import pandas as pd
import glob

def joint_reports(path):
    files = glob.glob(path + "/*.xlsx")
    dfs = []

    for file in files:
        all_sheets = pd.read_excel(file, sheet_name=None)
        for i, (sheet_name, df) in enumerate(all_sheets.items()):
            if i == 0:
                # Eliminar la primera fila
                df = df.iloc[1:].reset_index(drop=True)
                # Usar la nueva primera fila como encabezados
                df.columns = df.iloc[0]
                df = df.iloc[1:].reset_index(drop=True)
            dfs.append(df)

    df_final = pd.concat(dfs, ignore_index=True)
    return df_final

In [7]:
def joint_reports(path):
    files = glob.glob(path + "/*.xlsx")
    dfs = []

    for file in files:
        all_sheets = pd.read_excel(file, sheet_name=None)
        for sheet_name, df in all_sheets.items():
            dfs.append(df)
    df_final = pd.concat(dfs, ignore_index=True)
    return df_final

In [8]:
claims = joint_reports(files_path+"CLAIMS/")

In [9]:
claims.describe

<bound method NDFrame.describe of        Insurance Claim Tracking Report Doctor Group : AG URGENT CARE PC  \
0                         Insured Name                          Patient
1                      Aaron, Tinesha                    Aaron, Tinesha
2                         Abad, Juana                       Abad, Juana
3                         Abad, Juana                       Abad, Juana
4                         Abad, Juana                       Abad, Juana
...                                ...                              ...
297269                 ZULETA, MIRIAM                               NaN
297270                  Zuleta, Tania                               NaN
297271                  Zuleta, Tania                               NaN
297272                         TOTAL #                              NaN
297273                    Page -1 of 1                              NaN

       Insurance : ALL Date Of Transmitted : ALL  \
0         Insurance ID                     Pat #
1            105786969                    119317
2             VW50620E                    124929
3             VW50620E                    124929
4             VW50620E                    124929
...                ...                       ...
297269        NQ24369V                    105420
297270       804298022                    132168
297271       804298022                    132168
297272      6402603.98                       NaN
297273             NaN                       NaN

       Date Of Service : 01/01/2015~12/31/2025  \
0                                      Claim #
1                                       384633
2                                       405793
3                                       405793
4                                       408047
...                                        ...
297269                                  396607
297270                                  433370
297271                                  433370
297272                                     NaN
297273                                     NaN

       Insurance type : Primary Insurance Include paid-off claims only : NO   \
0                                 Service                                CPT
1                     2016-05-09 00:00:00                              S9083
2                     2016-08-09 00:00:00                              S9083
3                     2016-08-09 00:00:00                              99202
4                     2016-09-20 00:00:00                              S9083
...                                   ...                                ...
297269                2016-06-10 00:00:00                              99213
297270                2017-04-05 00:00:00                              99214
297271                2017-04-05 00:00:00                              99396
297272                                NaN                                NaN
297273                                NaN                                NaN

       Order By Patient Name  Unnamed: 8 Unnamed: 9  ... 703609  \
0                        Pdoc    Inscode     Charge  ...    NaN
1                        ABAK         UH       3000  ...    NaN
2                         AGU         MP       3000  ...    NaN
3                         AGU         MP        350  ...    NaN
4                         AGU         MP       3000  ...    NaN
...                       ...        ...        ...  ...    ...
297269                     AD         HF        135  ...    NaN
297270                    LEV         UH        150  ...    NaN
297271                    LEV         UH        250  ...    NaN
297272                    NaN        NaN        NaN  ...    NaN
297273                    NaN        NaN        NaN  ...    NaN

       2024-07-02 00:00:00 99458  RPM   WC 250 2024-07-03 00:00:00  \
0                      NaT   NaN  NaN  NaN NaN                 NaT
1                      NaT   NaN  NaN  NaN NaN                 NaT
2                      NaT   NaN  NaN  NaN NaN                 NaT
3                      NaT   NaN  NaN  NaN NaN                 NaT
4                      NaT   NaN  NaN  NaN NaN                 NaT
...                    ...   ...  ...  ...  ..                 ...
297269                 NaT   NaN  NaN  NaN NaN                 NaT
297270                 NaT   NaN  NaN  NaN NaN                 NaT
297271                 NaT   NaN  NaN  NaN NaN                 NaT
297272                 NaT   NaN  NaN  NaN NaN                 NaT
297273                 NaT   NaN  NaN  NaN NaN                 NaT

       1939-06-17 00:00:00 2024-07-11 00:00:00  \
0                      NaT                 NaT
1                      NaT                 NaT
2                      NaT                 NaT
3                      NaT                 NaT
4                      NaT                 NaT
...                    ...                 ...
297269                 NaT                 NaT
297270                 NaT                 NaT
297271                 NaT                 NaT
297272                 NaT                 NaT
297273                 NaT                 NaT

       Doctor Group : LEVI H LEHV MD PC
0                                   NaN
1                                   NaN
2                                   NaN
3                                   NaN
4                                   NaN
...                                 ...
297269                   ZULETA, MIRIAM
297270                    Zuleta, Tania
297271                    Zuleta, Tania
297272                            28781
297273                              NaN

[297274 rows x 44 columns]>

In [10]:
claims

,Insurance Claim Tracking Report,Doctor Group : AG URGENT CARE PC,Insurance : ALL,Date Of Transmitted : ALL,Date Of Service : 01/01/2015~12/31/2025,Insurance type : Primary Insurance,Include paid-off claims only : NO,Order By Patient Name,Unnamed: 8,Unnamed: 9,...,703609,2024-07-02 00:00:00,99458,RPM,WC,250,2024-07-03 00:00:00,1939-06-17 00:00:00,2024-07-11 00:00:00,Doctor Group : LEVI H LEHV MD PC
0,Insured Name,Patient,Insurance ID,Pat #,Claim #,Service,CPT,Pdoc,Inscode,Charge,...,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN
1,"Aaron, Tinesha","Aaron, Tinesha",105786969,119317,384633,2016-05-09 00:00:00,S9083,ABAK,UH,3000,...,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN
2,"Abad, Juana","Abad, Juana",VW50620E,124929,405793,2016-08-09 00:00:00,S9083,AGU,MP,3000,...,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN
3,"Abad, Juana","Abad, Juana",VW50620E,124929,405793,2016-08-09 00:00:00,99202,AGU,MP,350,...,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN
4,"Abad, Juana","Abad, Juana",VW50620E,124929,408047,2016-09-20 00:00:00,S9083,AGU,MP,3000,...,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297269,"ZULETA, MIRIAM",NaN,NQ24369V,105420,396607,2016-06-10 00:00:00,99213,AD,HF,135,...,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaT,"ZULETA, MIRIAM"
297270,"Zuleta, Tania",NaN,804298022,132168,433370,2017-04-05 00:00:00,99214,LEV,UH,150,...,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaT,"Zuleta, Tania"
297271,"Zuleta, Tania",NaN,804298022,132168,433370,2017-04-05 00:00:00,99396,LEV,UH,250,...,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaT,"Zuleta, Tania"
297272,TOTAL #,NaN,6402603.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaT,28781
297273,Page -1 of 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN